.card{
    border: 0.1rem solid black;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.1s;
  }
  
  .card:hover{
    box-shadow: 0.2rem 0.2rem black;
    translate: -0.2rem -0.2rem;
    cursor: pointer;
  }
  
  .card > h2{
    font-size: 2rem;
    border-left: 0.2rem solid deeppink;
  }
  
  .card > img{
    border-radius: 1rem;
  }

  .tags-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
